@using CodeChallengeATM.Shared
@model CodeChallengeATM.Models.InputForm;
@{
    ViewData["Title"] = "Home Page";
}
<h1>Code Challenge</h1>
<div class="row delimiter">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-top: 20px">
                <label asp-for="ImputedAmount" class="control-label"></label>
                <input asp-for="ImputedAmount" class="form-control" />
                <span asp-validation-for="ImputedAmount" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px">
                <input type="submit" asp-route="Sub" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@if (!string.IsNullOrEmpty(@Model?.ExceptionMessage))
{
    <label class="text-danger delimiter">@Model.ExceptionMessage</label>

}

@if (Model?.Results != null && Model.Results.Count > 0)
{
    @for (var i = 0; i < Constants.Denominations.Length; i++)
    {
        <div class="col-sm-3 col-lg-3 col-md-3 delimiter">
            <div class="thumbnail">
                <img src="@Url.Content($" images/{Constants.Denominations[i]}USD.jpg")" alt="" />
                <div class="caption">
                    <h3 class="pull-right">@Model.Results[i]</h3>
                </div>
            </div>
        </div>
    }
}